* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

/* Barra de navegação fixa */
.navbar {
    background-color: #b22222;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 10;
}
.navbar nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.navbar nav ul li {
    margin: 0 15px;
}
.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}
.navbar nav ul li a:hover {
    color: #f0f0f0;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 80px; /* Espaço para a navbar */
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #b22222;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.report-table th, .report-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.report-table th {
    background-color: #f4f4f4;
    font-weight: 600;
}

.report-table tr:hover {
    background-color: #f9f9f9;
}


/* Estilização geral do formulário */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* Cabeçalho do formulário */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #b22222;
    font-size: 24px;
}

/* Estilização dos campos do formulário */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus {
    border-color: #b22222;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

/* Estilização do botão */
button[type="submit"] {
    background-color: #b22222;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

/* Efeito de hover */
button[type="submit"]:active {
    transform: translateY(0);
}
